.helv_neu {
	font-family: "Helvetica Neue"
}
.myanmar {
	font-family: "Myanmar Sangam MN";
}
.herculanum {
	font-family: "Herculanum";
}
.orbitron {
	font-family: 'Orbitron', sans-serif;
}
.frijole {
	font-family: 'Frijole', cursive;
}
.baumans {
	font-family: 'Baumans', cursive;
}
.turncoat {
	font-family: 'Walter Turncoat', cursive;
}
.viga {
	font-family: 'Viga', sans-serif;
}
.fredericka {
	font-family: 'Fredericka the Great', cursive;
}
.shadows {
	font-family: 'Shadows Into Light', cursive;
}
.libre {
	font-family: 'Libre Baskerville', serif;
}
.black_ops {
	font-family: 'Black Ops One', cursive;
}
.audiowide {
	font-family: 'Audiowide', cursive;
}
.advent_pro {
	font-family: 'Advent Pro', sans-serif;
}
.aldrich {
	font-family: 'Aldrich', sans-serif;
}
.indie {
	font-family: 'Indie Flower', cursive;
}