


.card{
	width:300px;
	height:300px;
	border-style:solid;
	border-width:2px;
	border-color:black;
	text-align:center;
	margin-bottom: 10px;
	overflow:hidden;
	word-wrap: break-word;
}
ul {
 list-style: none;
}
.helv_neu {
	font-family: "Helvetica Neue"
}
.myanmar {
	font-family: "Myanmar Sangam MN";
}
.herculanum {
	font-family: "Herculanum";
}
.orbitron {
	font-family: 'Orbitron', sans-serif;
}
.frijole {
	font-family: 'Frijole', cursive;
}
.baumans{
	font-family: 'Baumans', cursive;
}